*{
    margin:0;
    padding:0;
}
body{
    background-color: darkslategrey;
}

a{
    text-decoration: none;
    color:whitesmoke;
}

li{
    padding: 15px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}